<!DOCTYPE html>
<html lang="ru">
{% load static %}
<link rel="stylesheet" href="{% static 'cases/404.css' %}">
<link rel="stylesheet" href="{% static 'cases/style.css' %}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 — Страница не найдена</title>
</head>

<body>
  <div class="error-container">
    <div class="error-content">
      <h1>ОШИБКА</h1>
      <h2>404</h2>
      <a href="{% url 'home' %}" class="back-button">На главную</a>
    </div>
  </div>
</body>

</html>